# Google Gemini API Key (for embeddings and LLM)
GOOGLE_API_KEY=AIzaSyAfEXG8HiEcKWKDxs2f0vglqEjumjILDfQ

# Pinecone Configuration
PINECONE_API_KEY=pcsk_4BTxhK_TSd47aCd4mjkCyQhSd8GbQyQCy5ZnhNd67X6tyrCbm2eva28XB8WrDJtvgdbBfV
PINECONE_INDEX_NAME=youtube-qa

# Whisper Model Size (tiny, base, small, medium, large)
WHISPER_MODEL_SIZE=base
